$color__black: #121111;
$color__white: #fcffff;

$color__gray--lighter: #efeeee;
$color__gray--light: #dcdddd;
$color__gray: #c3c4c4;
$color__gray--dark: #969999;
$color__gray--darker: #323333;
$color__gray--darkest: #121111;

$color__brown--lightest: #cd0000;
$color__brown--lighter: #b30000;
$color__brown--light: #9a0000;
$color__brown: #9a0000;
$color__brown--dark: #800000;
$color__brown--darker: #590000;
$color__brown--darkest: #330000;

$color__cream: #fff3e1;

$color__red--lightest: #f8979c;
$color__red--lighter: #ff888d;
$color__red--light: #f14950;
$color__red: #ff190d;
$color__red--dark: #c51104;
$color__red--darker: #a00309;
$color__red--darkest: #800007;

$color__rose--lightest: #ffa1d9;
$color__rose--lighter: #ff8ad0;
$color__rose--light: #ff66c1;
$color__rose: #ff1aa2;
$color__rose--dark: #b2096e;
$color__rose--darker: #9f005f;
$color__rose--darkest: #520031;

$color__orange--lightest: #ffcf9a;
$color__orange--lighter: #feac68;
$color__orange--light: #fc9a46;
$color__orange: #fa6824;
$color__orange--dark: #bb4a19;
$color__orange--darker: #992807;
$color__orange--darkest: #770505;

$color__gold--light: #ffb851;
$color__gold: #ffa726;
$color__gold--dark: #d98100;
$color__gold--darker: #b76000;

$color__yellow--lightest: #fffecf;
$color__yellow--lighter: #fffd8e;
$color__yellow--light: #fffc5c;
$color__yellow: #ffeb3b;
$color__yellow--dark: #d1ba01;
$color__yellow--darker: #c0a900;
$color__yellow--darkest: #906000;

$color__green--lightest: #6cfd6f;
$color__green--lighter: #39fa3f;
$color__green--light: #17e81f;
$color__green: #009b06;
$color__green--dark: #037907;
$color__green--darker: #025a05;
$color__green--darkest: #023b04;

$color__blue--lightest: #afedff;
$color__blue--lighter: #6edbff;
$color__blue--light: #3ca9ff;
$color__blue: #2196f3;
$color__blue--dark: #0b62a6;
$color__blue--darker: #044475;
$color__blue--darkest: #142633;

$color__violet: #b406ff;
$color__violet--dark: #7d02b2;
$color__violet--darker: #470165;
$color__violet--darkest: #130032;
